.PersonagemContainer{
    width: 42%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.PersonagemContainer img{
    max-height: 100%;
    min-height: 50%;
    width: 100%;
}


.PersonagemContainer span{
   font-size: 20px;
   color: yellow;
   font-weight: 600;
   padding-bottom: 40px;
   overflow: visible;
   text-overflow: clip;
   
}

.PersonagemContainer button{
    margin-top: 30px;
    font-size: 26px;
    color: yellow;
    font-weight: 600; 
    background: transparent;
    border: 0;
    cursor: pointer;
 }

 .PersonagemContainer button:focus{
   outline: 0;
 }

 .Player2Img{
    -webkit-transform: scaleX(-1);
     transform: scaleX(-1);
 }

 .Esconder{
     visibility: hidden;
 }